@import "@assets/variables.scss";

.week-details {
  background: $primary;
  border-radius: 10px;
  padding: 10px;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: $white;
    margin-bottom: 10px;

    &__dates {
      @include body-phone;
    }
    &__details {
      @include small-phone;

      &__duration {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
  &__programs {
    margin: 10px;
  }
}
