@use "@assets/variables" as *;

.current-exercise-view {
  &__body {
    max-width: 390px;

    &-image {
      object-fit: cover;
      max-width: inherit;
      height: 100%;
    }
  }

  &__footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}
