@use "@assets/variables" as *;

.ribbon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $tertiary;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 5px;
  width: auto;
  position: relative;

  &__content {
    @include h3-phone;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__icon {
    font-size: 20px;
  }

  &__triangle {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    top: 0;

    &--left {
      border-width: 20px 0 20px 15px;
      border-color: transparent transparent transparent white;
      left: 0;
    }

    &--right {
      border-width: 20px 15px 20px 0;
      border-color: transparent white transparent transparent;
      right: 0;
    }
  }
}
