@import "@assets/variables";

.not-found-page {
  &__top {
    background-color: $tertiary;
    height: 40px;

    @media screen and (min-width: 768px) {
      height: 60px;
    }

    &__logo {
      position: relative;
      margin-left: 40px;
      border-radius: 50%;
      top: -2px;
      background-color: $tertiary;
      padding: 12px 8px;

      @media screen and (min-width: 768px) {
        display: none;
      }
    }

    &__logo-d {
      display: none;

      @media screen and (min-width: 768px) {
        display: block;
        position: relative;
        margin-left: 41px;
        border-radius: 50%;
        top: -21px;
        background-color: #4477e8;
        padding: 20px 13px;
      }
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;

    @media screen and (min-width: 768px) {
      flex-direction: row;
    }

    &__img {
      width: 250px;
      height: 200px;
      margin-bottom: 20px;

      @media screen and (min-width: 768px) {
        width: 35%;
        height: 50%;
      }
    }

    &__content {
      @include h2-phone;
      text-align: center;
      padding: 0 30px;

      @media screen and (min-width: 768px) {
        @include logo-big-label;
        padding: 0;
      }

      &__button {
        margin-top: 20px;

        @media screen and (min-width: 768px) {
          margin-top: 40px;
        }
      }
    }
  }
}
