@import "@assets/variables.scss";

.little-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__title{
        @include content-bold;
        color: $prymary;
        margin: 0;
    }
}