@import '@assets/variables.scss';

.landing-page {
    background: linear-gradient(82deg, rgba(255,255,252,1) 0%, rgba(68,119,232,1) 100%);

    &__first-view {
        height: 100vh;

        &__blob{
            position: absolute;
            right: 0;
            width: 268px;
            top: 145px;
            overflow: hidden;
            z-index: 0;

            @media screen and (min-width: 500px){
                width: 42vw;
                height: 74vh;
                top: 16vh;
                right: 14vw;
                overflow: unset;
            }

            &__img{
                width: 440px;
                height: 347px;

                @media screen and (min-width: 500px){
                    width: 100%;
                    height: 100%;
                }
            }
        }

        &__girl{
            position: absolute;
            right: 0;
            top: 300px;
            width: 268px;
            z-index: 0;
            overflow: hidden;

            @media screen and (min-width: 500px){
                width: 60vw;
                height: 80vh;
                top: 138px;
                right: 40px;
                overflow: unset;
            }

            &__img{
            width: 400px;
            height: 500px;

            @media screen and (min-width: 500px){
                width: 100%;
                height: 100%;
            }
        }
    }

        &__header{
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: 32px 0 40px;

            @media screen and (min-width: 500px){
                justify-content: space-between;
                margin: 0 96px;
            }

            &__logo-m{
                display: block;
                @media screen and (min-width: 500px){
                    display: none;
                }
            }

            &__logo-d{
                display: none;
                @media screen and (min-width: 501px){
                    display: block;
                }
            }

            &__container{
                display: flex;
                gap: 16px;
                align-items: center;

                &__buttom{
                    display: none;
                        @media screen and (min-width: 500px){
                        display: block;
                    }
                }

                &__connect{
                    @include big-content-bold;
                    color: $white;
                }
            }
        }
        
        &__description{
            @include big-title;
            position: relative;
            z-index: 1;
            color: $prymary;
            width: 180px;
            text-align: center;
            margin-left: 7%;

            @media screen and (min-width: 500px){
               @include hard-big-title;
               width: 486px;
               margin-left: 10%;
            }
        }

        &__buttom{
            position: absolute;
            display: flex;
            justify-content: center;
            z-index: 1;
            bottom: 4%;
            width: 100%;
            
            @media screen and (min-width: 500px){
                display: none; 
            }
           
        }

        &__buttom-program{
            display: none;

            @media screen and (min-width: 501px){
                @include sub-title-bold;
                display: flex;
                justify-content: center;
                z-index: 1;
                position: absolute;
                bottom: 10%;
                width: 70%;
            }
        }
    }

    &__second-view {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        
        &__img-container{
            display: none;

            @media screen and (min-width: 500px){
            display: block;
            width: 100%;
            height: 58vh;
            overflow: hidden;
            box-shadow: inset 0 0 20px 6px rgba(0, 0, 0, 0.2);
            
            &__img{
                width: 100%;
            }
        }
        }

        &__description{
            @include title-medium-bold;
            color: $prymary;
            text-align: center;
            margin: 94px 16px 43px;

            @media screen and (min-width: 500px){
                margin: 24px 0 30px;
            }
        }

        &__step{
            display: flex;
            flex-direction: column;
            gap: 34px;

            @media screen and (min-width: 500px){
                flex-direction: row;
                justify-content: space-around;
                gap: 37px;
            }

            &__content{    
                @include title-medium-bold;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;          
                color: $white;
                background: $prymary;
                border-radius: 10px;
                width: 178px;
                height: 150px;
                padding: 0 16px;
                text-align: center;
                z-index: 1;

                @media screen and (min-width: 500px){
                  
                    &:first-child{
                        margin-top: 62px;
                    }

                    &:last-child{
                        margin-top: 62px;
                    }
                }
            }
        }

        &__blob{
            position: absolute;
            right: 0;
            left: 0;
            bottom: -100vh;
            height: 124px;
            z-index: 0;
            overflow: hidden;

            @media screen and (min-width: 500px){
                height: 200px;
                 left: 30vw;
            }

            &__img{
                width: 440px;
                height: 360px;

                @media screen and (min-width: 500px){
                     width: 644px;
                     height: 528px;
                }
            }
        }

         &__buttom{
            position: absolute;
            display: flex;
            justify-content: center;
            z-index: 1;
            bottom: -94%;
            width: 100%;

            @media screen and (min-width: 500px){
                bottom: -97%;
            }
           
        }
    }
}