@use "@assets/variables" as *;

/* Cercle autour des dates sélectionnées (si dans le mois courant) */
.highlighted-date-cell:not(.fc-day-other) .fc-daygrid-day-number {
  background-color: #132945 !important;
  color: #ffffff !important;
  border-radius: 50% !important;
  width: 50px !important;
  height: 50px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  font-weight: bold !important;
  font-size: 20px !important;
  z-index: 10 !important;
}

/* Masquer les événements visuellement */
.fc-daygrid-event {
  display: none !important;
}

/* Style général FullCalendar */
.fc {
  font-family: "Arial", sans-serif;
  max-width: 400px;
  margin: auto;
  height: 450px;
}

.fc-toolbar {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 8px !important;
}

.fc-toolbar-title {
  font-size: 18px;
  font-weight: bold;
  margin: 0 !important;
  padding: 0 !important;
}

.fc-prev-button,
.fc-next-button {
  background: none !important;
  border: none !important;
  color: black !important;
  font-size: 28px !important;
  padding: 0 !important;
  margin: 0 !important;
}

.fc-col-header-cell {
  border: none !important;
  @include h2-phone;
  color: $primary;
  text-align: center !important;
  font-weight: normal;
  vertical-align: middle !important;
  padding-bottom: 5px !important;
}

.fc-daygrid-day-number {
  @include h2-phone;
  font-size: 20px;
  color: $primary;
  text-align: center;
  cursor: pointer !important;
}

.fc-day-other .fc-daygrid-day-number {
  @include h2-phone;
  color: $grey !important;
}

.fc-scrollgrid,
.fc-daygrid-day,
.fc-daygrid-day-frame {
  border: none !important;
}

.fc-daygrid-day-frame {
  background: transparent !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 60px;
}

.fc-day-today {
  background: transparent !important;
}

.fc-day-today .fc-daygrid-day-number {
  background-color: $primary !important;
  color: $white !important;
  border-radius: 50% !important;
  width: 50px !important;
  height: 50px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  font-weight: bold !important;
  font-size: 18px !important;
  z-index: 10 !important;
}

.fc-daygrid-body {
  overflow: hidden !important;
  max-height: 100% !important;
}

.fc-daygrid-day {
  cursor: pointer !important;
}
