@use "@assets/variables" as *;

.short-calendar {
  display: flex;
  gap: 0px;

  &__day {
    @include h2-phone;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 36px;
    width: clamp(40px, 3vw, 69px);

    &__filled {
      background-color: $primary;
      color: $white;
    }
  }

  &__streak-left {
    background-color: $primary;
    color: $white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 36px;
  }

  &__streak-middle {
    background-color: $primary;
    color: $white;
    border-radius: 0;
  }

  &__streak-right {
    background-color: $primary;
    color: $white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 36px;
  }
}
