//Font
@mixin landing-page-title-desktop {
  font-size: 80px;
  font-weight: 600;
  margin: 0;
}

@mixin landing-page-title-phone {
  font-size: 40px;
  font-weight: 600;
  margin: 0;
}

@mixin logo-big-label {
  font-size: 34px;
  font-weight: bold;
  margin: 0;
}

@mixin h1-phone {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

@mixin h2-phone {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

@mixin h3-phone {
  font-size: 14px;
  margin: 0;
}

@mixin logo-litle-label {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

@mixin small-phone {
  font-size: 12px;
  margin: 0;
}

//Color
$primary: #132945;
$secondary: #e23823;
$tertiary: #4477e8;
$white: #fffffc;
$grey: #a9a9a9;
$dark-grey: #4b5563;

//generic text
@mixin question-phone {
  @include h1-phone;
  color: $primary;
  text-align: center;
  margin-top: 3.5rem;
}

//generic button
@mixin exit-cross-phone {
  border: none;
  background: none;
  position: absolute;
  top: 10px;
  right: 5px;
}
