//Font
@mixin big-title{
    font-size: 40px;
    font-weight: 600;
}

@mixin title-bold{
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

@mixin sub-title-bold{
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

@mixin title-medium-bold{
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

@mixin title-medium{
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

@mixin big-content-bold{
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

@mixin content-bold{
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

//Color
$prymary: #132945;
$secondary: #E23823;
$tertiary: #4477E8;
$white: #FFFFFC;
$grey: #A9A9A9;
$dark-grey: #4B5563;

