@import '../../../assets/variables';

.orange-button {
  background-color: $secondary;
  color: $white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  padding: 14px 24px;
  width: 260px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken($secondary, 10%);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.orange-button--focus {
  outline: 2px solid $primary;
}
