@import "@assets/variables.scss";

.sign-up-step-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;

  &__exit {
    @include exit-cross-phone;
  }

  &__question {
    @include question-phone;
  }

  &__swiper-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    margin-top: clamp(3rem, 5vh, 5rem);

    &__img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }

    &__content {
      text-align: center;
      margin-bottom: clamp(1rem, 5vh, 3rem);
    }
  }
}

.sign-up-step-2__swiper-container .swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign-up-step-2__swiper-container .swiper-slide img {
  width: 60vw;

  @media screen and (min-width: 500px) {
    width: 50vw;
    max-width: fit-content;
  }
}
