@import "@assets/variables.scss";

.selection-button {
  &__button {
    @include h2-phone;
    background: transparent;
    position: relative;
    color: $primary;
    border: none;
    z-index: 2;
    cursor: pointer;
  }
  &__selected {
    background: $secondary;
    position: relative;
    height: 20;
    width: 78;
    z-index: 1;
    top: -12px;
    left: 20px;
  }
}
