@import "@assets/variables.scss";

.nav-bar{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: $primary;
    padding: 11px;
    // width: 431;
    // height: 64;
    border: 1px solid $grey;
        &__button{
            background: transparent;
            border: none;
            color: $white;
        }
}