@use "@assets/variables" as *;

.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: $primary;
  padding: 11px;
  border: 1px solid $grey;
}
