@use "@assets/variables" as *;

.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: $primary;
  padding: 11px;
  border: 1px solid $grey;
  cursor: pointer;

  &__button {
    width: 100%;
  }

  @media screen and (max-width: 768px) {
    z-index: 10000;
    position: fixed;
    bottom: 0px;
    width: 100%;
  }
}
